
@if (Model.NewsItems.Count > 0)
{
    <div class="from_blog mt-4">
        <h1 class="page_title">
            <strong class="title">@T("News")</strong>
        </h1>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.NewsItems)
                {
                    <div class="col-md-4">
                        <div class="blog_card">
                            @*<div class="blog_image_container">
                                <img class="blog_card-img-top" src="~/Themes/Junkyard/Content/img/3.jpg" alt="" />
                            </div>*@

                            <div class="blog_card-body">
                                <div class="blog_card_content">
                                    <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h3>
                                    <p>
                                        @Html.Raw(item.Short)
                                    </p>
                                    <div class="options">
                                        <span class="lnr lnr-calendar-full">&nbsp; -@item.CreatedOn.ToString("D")</span>
                                        @*<span class="lnr lnr-user">&nbsp; by duffy</span>
                                            <span class="lnr lnr-bubble">&nbsp; 0</span>*@
                                    </div>
                                    <div class="actions">
                                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="btn">@T("News.MoreInfo")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@*@if (Model.NewsItems.Count > 0)
    {
        <div class="news-list-homepage">
            <div class="title">
                <strong>@T("News")</strong>
            </div>
            <div class="news-items">
                @foreach (var item in Model.NewsItems)
                {
                    <div class="news-item">
                        <div class="news-head">
                            <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                            <span class="news-date">-@item.CreatedOn.ToString("D")</span>
                        </div>
                        <div class="news-body">
                            @Html.Raw(item.Short)
                        </div>
                        <div class="buttons">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">@T("News.MoreInfo")</a>
                        </div>
                    </div>
                }
            </div>
            <div class="view-all">
                <a href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
            </div>
        </div>

    }*@


@*<div class="from_blog mt-4">
        <h1 class="page_title">
            <strong class="title">From the Blog</strong>
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog_card">
                        <div class="blog_image_container">
                            <img class="blog_card-img-top" src="~/Themes/Junkyard/Content/img/3.jpg" alt="" />
                        </div>

                        <div class="blog_card-body">
                            <div class="blog_card_content">
                                <h3><a href="#">Partner’s Pick: Kincrome Tools</a></h3>
                                <p>
                                    Car is a part of culture because we spend a significant
                                    amount of time of our lives by the steering wheel.
                                </p>
                                <div class="options">
                                    <span class="lnr lnr-calendar-full">&nbsp; Jan 17,2017</span>
                                    <span class="lnr lnr-user">&nbsp; by duffy</span>
                                    <span class="lnr lnr-bubble">&nbsp; 0</span>
                                </div>
                                <div class="actions">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_card">
                        <div class="blog_image_container">
                            <img class="blog_card-img-top" src="~/Themes/Junkyard/Content/img/2_1.jpg" alt="" />
                        </div>

                        <div class="blog_card-body">
                            <div class="blog_card_content">
                                <h3><a href="#">Partner’s Pick: Kincrome Tools</a></h3>
                                <p>
                                    Car is a part of culture because we spend a significant
                                    amount of time of our lives by the steering wheel.
                                </p>
                                <div class="options">
                                    <span class="lnr lnr-calendar-full">&nbsp; Jan 17,2017</span>
                                    <span class="lnr lnr-user">&nbsp; by duffy</span>
                                    <span class="lnr lnr-bubble">&nbsp; 0</span>
                                </div>
                                <div class="actions">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_card">
                        <div class="blog_image_container">
                            <img class="blog_card-img-top" src="~/Themes/Junkyard/Content/img/5.jpg" alt="" />
                        </div>

                        <div class="blog_card-body">
                            <div class="blog_card_content">
                                <h3><a href="#">Partner’s Pick: Kincrome Tools</a></h3>
                                <p>
                                    Car is a part of culture because we spend a significant
                                    amount of time of our lives by the steering wheel.
                                </p>
                                <div class="options">
                                    <span class="lnr lnr-calendar-full">&nbsp; Jan 17,2017</span>
                                    <span class="lnr lnr-user">&nbsp; by duffy</span>
                                    <span class="lnr lnr-bubble">&nbsp; 0</span>
                                </div>
                                <div class="actions">
                                    <a href="#" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@