@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}

@if (Model.Enabled)
{
    <!-- breadcrub -->
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="@Url.RouteUrl("HomePage")">@T("Products.Breadcrumb.Top")</a>

        @foreach (var category in Model.CategoryBreadcrumb)
        {
            <a class="breadcrumb-item" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
        }
            <span class="breadcrumb-item active">@Model.ProductName</span>
    </nav>

}