@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 left_content">
                <strong class="logo">
                    @*<img src="~/Themes/Junkyard/Content/img/logo_4.png" alt="logo" />*@
                    @await Component.InvokeAsync("Logo")
                </strong>

                @await Component.InvokeAsync("SocialButtons")
            </div>
            <div class="col-md-8 footer_menu">
                <ul class="first">
                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                    <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                    @if (Model.ShoppingCartEnabled)
                    {
                        <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                    }
                    @if (Model.WishlistEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }

                    @*<li><a href="#">Shipping & Delivery</a></li>
                        <li><a href="#">Secure payment</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Guarantee</a></li>
                        <li><a href="#">Terms & Conditions</a></li>*@
                </ul>
                <ul class="second">
                    <li>
                        <a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a>
                    </li>
                    @if (Model.NewsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                    }
                    @if (Model.BlogEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                    }
                    @if (Model.ForumEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }
                    @if (Model.CompareProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }
                    @if (Model.NewProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    @*<li><a href="#">About Us</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Template Settings</a></li>*@
                </ul>
                <ul class="third">
                    @if (Model.SitemapEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    @*<li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Search Terms</a></li>
                        <li><a href="#">Orders and Returns</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Newsletter Subscription</a></li>*@
                </ul>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-4 left_content">
                @if (!Model.HidePoweredByNopCommerce)
                {
                    <div class="footer-powered-by">
                        @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
                        <small>Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a></small>
                    </div>
                }
            </div>
            <div class="col copyright">
                @*<small>&copy;2019 Magento Demo Store. All Rights Reserved.</small>*@
                <small>@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</small>
            </div>

        </div>
    </div>
</footer>